@import "stack.css";

* {
	box-sizing: border-box;
}

body,
html {
	height: 100%;
	margin: 0;
	padding: 0;
	font-family: "Berkeley Mono", "Courier New", Courier, monospace;
	font-variant-ligatures: none; /* unfortunately the ligatures don't behave nicely here */
	background-color: #f2efdf;
}

#main {
	width: 1008px;
	margin: 0 auto;
	padding: 0.5em 0;
	display: flex;
	flex-direction: column;
	height: 100%;
}

textarea {
	resize: vertical;
	font-family: inherit;
	font-variant: inherit;
	font-size: smaller;
}

.modal {
	display: none;
}

.modal.-active {
	display: block;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(0, 0, 0, 0.5);
}

.modal > .modal-content {
	display: block;
	margin: 10vh auto;
	background-color: #f2efdf;
	/* height: 80vh; */
	width: 50vw;
	min-width: 300px;
	padding: 2em;
	position: relative;
}

.modal-content > h2:first-of-type {
	margin-top: 0;
}

.modal-content > .modal-close {
	position: absolute;
	top: 0;
	right: 0;
	border: none;
	background: none;
	text-decoration: underline;
	padding: 1em;
	cursor: pointer;
	font-family: inherit;
}

.modal-content > .modal-close:hover {
	background-color: #bdc3af;
}

#program-input {
	display: block;
	width: 100%;
	min-height: 300px;
}

#program-compile {
	display: block;
	width: 70%;
	margin: 1rem auto 0;
	padding: 0.5rem;
	font-family: inherit;
	font-size: larger;
	cursor: pointer;
}

#compiler-errors {
	display: block;
	background-color: #fbe3da;
	color: #f85552;
	padding: 1em 2em;
	margin-bottom: 0.5em;
}
#compiler-errors::before {
	content: "Failed to compile: ";
	font-weight: bold;
}

#compiler-errors:empty {
	display: none;
}

.srccode {
	white-space: pre-wrap;
	min-height: 5em;
	overflow: auto;
	background: #fffbef;
	color: #5c6a72;
	padding: 0.5em;
}

.comment {
	color: #939f91;
	font-style: italic;
}
#registers td {
	text-align: center;
}

.opcode-lt {
	color: #35a77c;
}
.opcode-gt {
	color: #35a77c;
}
.opcode-plus {
	color: #f57d26;
}
.opcode-dash {
	color: #f57d26;
}
.opcode-lbrk {
	color: #f85552;
}
.opcode-rbrk {
	color: #f85552;
}
.opcode-dot {
	color: #8da101;
}
.opcode-coma {
	color: #8da101;
}

#exec-speed-container {
	display: flex;
	font-size: 0.9rem;
	line-height: 1.5em;
	margin-top: 0.5rem;
}
#exec-speed-container > span {
	flex: 0 0 auto;
	margin-right: 0.5em;
}
#exec-speed {
	flex: 1 1 auto;
	font-family: inherit;
}

#rams .active {
	background-color: #bdc3af;
}

#main > * {
	flex: 0 0 auto;
}

#header {
	display: flex;
}

#header h2 {
	margin: 0 0 0.2em;
}

#header-ram {
	flex: 1 1 auto;
	overflow: hidden;
}

#rambox {
	overflow: auto;
}

#rams {
	table-layout: fixed;
	white-space: nowrap;
}

.ram-cell {
	padding: 0.1em 0.3em;
}

#header-controls {
	flex: 0 0 250px;
	margin-left: 0.5em;
}

#program-controls {
	display: flex;
	padding: 0;
	margin: 0;
	border: 0;
}

#program-controls > * {
	margin: 0 0.2em;
	flex: 1 1 auto;
}
#program-controls > *:last-child {
	margin-right: 0;
}
#program-controls > *:first-child {
	margin-left: 0;
}

#program-wrapper {
	flex: 1 1 auto;
	display: flex;
	flex-direction: column;
}

#program {
	flex: 1 1 0;
	margin: 0;
}
