body,
#program-controls {
	display: flex;
}
#content, #controls {
	padding: 5px;
	flex: 1;
}
#content {
	flex: 4;
}

h2, p {
	margin: 0;
	padding: 0;
}

h1,h2,h3,h4,h4 {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

textarea {
	resize: none;
}

textarea, table, button {
	width: 100%;
	box-sizing: border-box;
}

.srccode {
	white-space: pre;
	width: 100%;
	min-height: 100px;
	background: rgb(230,230,230);
	font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
}

#exec-speed-container {
	display: flex;
}
#exec-speed-container > span {
	flex: 0;
	margin-left: 2px;
}
#exec-speed {
	flex: 1;
}

#program {
}

#stdout {
}


.trail-step-9 {
	background-color: #b6cdf7;
}
.trail-step-8 {
	background-color: #adc7f5;
}
.trail-step-7 {
	background-color: #a4c1f4;
}
.trail-step-6 {
	background-color: #9bbaf3;
}
.trail-step-5 {
	background-color: #92b4f2;
}
.trail-step-4 {
	background-color: #89aef1;
}
.trail-step-3 {
	background-color: #7fa8f0;
}
.trail-step-2 {
	background-color: #76a1ef;
}
.trail-step-1 {
	background-color: #6d9bee;
}
.trail-step-0 {
	background-color: #6495ed;
}
