.trail-step-4 {
  background-color: #ccccff;
}
.trail-step-3 {
  background-color: #9999ff;
}
.trail-step-2 {
  background-color: #6666ff;
}
.trail-step-1 {
  background-color: #3333ff;
}
.trail-step-0 {
  color: white;
  background-color: #0000ff;
}
