@MAX_TRAIL: 5;
@colour: blue; //rgb(100, 149, 237);

.colour(@step) when(@step >= @MAX_TRAIL / 2) {
	color: white;
}
.colour(@step) {
}

.trail(@step) when(@step > 0) {
	.trail-step-@{step} {
		.colour(@step);
		background-color: lighten(blue, (@MAX_TRAIL - @step) * 10);
	}

	.trail(@step - 1);
}
.trail(@step) {
}

.trail(5);
