@import "stack.css";
@import "modal.css";

* {
	box-sizing: border-box;
}

body,
html {
	height: 100%;
	margin: 0;
	padding: 0;
	font-family: "Berkeley Mono", "Courier New", Courier, monospace;
	font-variant-ligatures: none; /* unfortunately the ligatures don't behave nicely here */
	background-color: #f2efdf;
}

#main {
	width: 1008px;
	margin: 0 auto;
	padding: 0.5em 0;
	display: flex;
	flex-direction: column;
	height: 100%;
}

textarea {
	resize: vertical;
	font-family: inherit;
	font-variant: inherit;
	font-size: smaller;
}

#program-input {
	display: block;
	width: 100%;
	min-height: 300px;
}

#program-compile {
	display: block;
	width: 70%;
	margin: 1rem auto 0;
	padding: 0.5rem;
	font-family: inherit;
	font-size: larger;
	cursor: pointer;
}

#compiler-errors {
	display: block;
	background-color: #fbe3da;
	color: #f85552;
	padding: 1em 2em;
	margin-bottom: 0.5em;
}
#compiler-errors::before {
	content: "Failed to compile: ";
	font-weight: bold;
}

#compiler-errors:empty {
	display: none;
}

.srccode {
	white-space: pre-wrap;
	min-height: 5em;
	overflow: auto;
	background: #fffbef;
	color: #5c6a72;
	padding: 0.5em;
}

.token-comment {
	color: #939f91;
	font-style: italic;
}
.token-conditional,
.token-loop {
	color: #f85552;
}
.token-operator {
	color: #f57d26;
}
.token-special {
	color: #dfa000;
}
.token-func,
.token-string {
	color: #8da101;
}
.token-constant,
.token-macro {
	color: #35a77c;
}
.token-ident,
.token-special {
	color: #3a94c5;
}
.token-literal {
	color: #df69ba;
}

#exec-speed-container {
	display: flex;
	font-size: 0.9rem;
	line-height: 1.5em;
	margin-top: 0.5rem;
}
#exec-speed-container > span {
	flex: 0 0 auto;
	margin-right: 0.5em;
}
#exec-speed {
	flex: 1 1 auto;
	font-family: inherit;
}

#rams .active {
	background-color: #bdc3af;
}

#main > * {
	flex: 0 0 auto;
}

#header {
	display: flex;
}

#header h2 {
	margin: 0 0 0.2em;
}

#header-ram {
	flex: 1 1 auto;
	overflow: hidden;
}

#rambox {
	overflow: auto;
}

#rams {
	table-layout: fixed;
	white-space: nowrap;
}

.ram-cell {
	padding: 0.1em 0.3em;
}

#header-controls {
	flex: 0 0 250px;
	margin-left: 0.5em;
}

#program-controls {
	display: flex;
	padding: 0;
	margin: 0;
	border: 0;
}

#program-controls > * {
	margin: 0 0.2em;
	flex: 1 1 auto;
}
#program-controls > *:last-child {
	margin-right: 0;
}
#program-controls > *:first-child {
	margin-left: 0;
}

#program-wrapper {
	flex: 1 0 auto;
	display: flex;
	flex-direction: column;
}

#program {
	flex: 1 1 0;
	margin: 0;
}

#stdout-wrapper {
	overflow: auto;
	max-height: 30vh;
}
