.trail-step-5 {
	color: white;
	background-color: #bdc3af;
}
.trail-step-4 {
	color: white;
	background-color: #e0dcc7;
}
.trail-step-3 {
	color: white;
	background-color: #e6e2cc;
}
.trail-step-2 {
	background-color: #efebd4;
}
.trail-step-1 {
	background-color: #f4f0d9;
}
